.distance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.distance-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.fluid.input {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.input-container > input {
  max-width: 48px;
  line-height: 1.15;
  margin-right: 10px;
}

.distance-units {
  display: flex;
  min-width: 75px;
  align-items: center;
}

#km, #mi {
  margin-right: 5px;
}

.distance-units > label {
  margin-right: 10px;
  font-size: 75%;
}