.selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7E7E7 !important;
}

.selector {
  display: flex;
  align-items: center;
  padding-left: 10px;
  min-width: 130px;
}

.selector > input {
  margin-left: 15px;
  margin-right: 5px;
}