.time-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.time-container > input {
  max-height: 22px;
}

.time-container > div {
  display: inline;
  min-width: 50px;
}

